$font-list : "Malgun Gothic", "Apple SD Gothic Neo", Dotum, '돋움', sans-serif;

body {
  font: 12px/1.5 $font-list;
}
#board_list {
  font: 12px $font-list;
}

#mycomment {
  tbody {
    background-color: #F4F4F5;
  }
  td {
    background-color: transparent;
  }
}

.common_write {
  .common_write_wrapper {
    .common_input_wrapper {
      .common_input {
        font: 12px/1.5 $font-list;
      }
    }
  }
}